<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Kados Shopify API
	body
		h1 Hello world!
		p=shopConfig.app_name
		p=shopConfig.API_key
		p=shopConfig.store
		p=shopConfig.store_admin
		p=shopConfig.password
		p=shopConfig.secret